# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data files (raw/large)
*.nc
*.hdf5
*.h5
*.csv
*.npz
*.npy

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
